html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  color: #F9FAF8; 
}

header span {
  font-size: 24px;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.parent-1 {
  width: 95%;
  background-color: #1F2937;
}

.child-parent {
  display: flex;
}

.awesome-parent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 50%;
  color: #F9FAF8; 
}

.awesome-parent h2 {
  font-size: 48px;
}

.awesome-parent p {
  font-size: 18px;
}

button {
  color: #F9FAF8; 
  background-color: #3882F6;
  border-radius: 10%;
  border: none;
}

.parent-3 {
  width: 95%;
  background-color: #e5e7eb;
}

footer {
  background-color: #1F2937;
}